/* .App {
  font-family: sans-serif;
  text-align: center;
} */

/* header img {
  width: 150px;
  height: 150px;
  margin-top: -200px;
  margin-bottom: 20px;
  margin-left: 100px;
}

header p {
  margin-top: 0;
  text-align: center;
  font-size: 70px;
  font-family: fantasy;
} */

/* img {
  height: 500px;
}

.meme .top {
  margin-top: -500px;
  margin-left: 60px;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 3px 3px 3px black;
  font-size: 350%;
  font-weight: bold;
  color: #FFF;
}

.meme .bottom {
  margin-top: 350px;
  margin-left: 60px;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 3px 3px 3px black;
  font-size: 350%;
  font-weight: bold;
  color: #FFF;
}

input {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

button {
  margin-left: 5px;
  height: 30px;
  font-size: 20px;
} */
/* 


body {
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;

}
 */
/* 
html,
body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.navigator {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: lightblue;
}

.boxButton {
  display: flex;
  margin: 20px auto;
  width: 300px;
  height: 80px;
  border: 2px solid grey;
  background-color: lightgray;
}

.boxIcon {
  height: fit-content;
  width: fit-content;
  margin: auto;
}

.boxName {
  height: fit-content;
  width: fit-content;
  margin: auto;
} */
